.additional-catalog__title {
  position: relative;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 30px 20px;

  &::after {
    content: '';
    position: absolute;
    top: 43px;
    right: 0;
    width: 53px;
    height: 3px;
    background: @greenBgColor;
  }
}

.additional-catalog__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 5px 0 17px;
  border-bottom: 1px solid @lightGrayColor;

  &:first-child {
    border-top: 1px solid @lightGrayColor;
  }
}
