@import "../variables";

.button {
  display: inline-block;
  background: @green-bg-color;
  min-width: 150px;
  padding: 13px;
  color: @white-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &--default {
    background-color: @light-gray-color;
    color: @default-font-color;
  }
}
