@import "../variables";

.button {
  display: inline-block;
  background: @greenBgColor;
  min-width: 150px;
  padding: 13px;
  color: @whiteColor;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &--default {
    background-color: @lightGrayColor;
    color: @defaultFontColor;
  }
}
