@import "../variables";

.good__info,
.good__order {
  width: @mobileContentWidth;
  margin: 0 auto;
}

.good__info {
  display: flex;
}

.good__title {
  margin-bottom: 18px;
  color: @blackColor;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: left;
}

.good__characteristic,
.good__characteristic-value {
  width: 70px;
  font-family: "Arial", "Tahoma", sans-serif;
}

.good__characteristic-value {
  text-align: right;
}
