.nutrition-program__cat-bg {
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 150px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: #63a73a;
  background-repeat: no-repeat;
  background-size: cover;
}

.nutrition-program__title {
  margin: 0;
  padding-top: 30px;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: @whiteColor;
}

.nutrition-program__tagline {
  line-height: 1;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @whiteColor;
}

.nutrition-program__image {
  position: absolute;
  left: 20px;
  bottom: calc((40px - 100%) / 2);
  width: @mobileContentWidth;
}

.nutrition-program__href {
  position: absolute;
  bottom: calc(-50% - 30px);
  left: calc((100% - @mobileContentWidth) / 2);
  width: @mobileContentWidth;
}
