.nutrition-program__cat-bg {
  width: 320px;
  margin: 0 auto 200px;
  position: relative;
  padding-bottom: 150px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-color: #63a73a;
  background-repeat: no-repeat;
  background-size: cover;
}

.nutrition-program__title {
  margin: 0;
  padding-top: 30px;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: @whiteColor;
}

.nutrition-program__tagline {
  line-height: 1;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @whiteColor;
}

.nutrition-program__image {
  position: absolute;
  left: 20px;
  bottom: -135px;
  width: @mobileContentWidth;
}

.nutrition-program__href {
  position: absolute;
  bottom: -180px;
  left: 20px;
  width: @mobileContentWidth;
}
