.page-footer {
  margin-top: -5px;
  background: @lightGrayColor;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  border-bottom: 1px solid @darkGrayColor;
}

.page-footer__social {
  margin: 24px 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid @darkGrayColor;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  position: relative;
  padding: 22px 20px;
  height: 34px;
  text-decoration: none;
  color: @defaultFontColor;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 34px;
    background: url("../../img/htmlacademy.svg") no-repeat center;
  }
}
