.clear-button-styles() {
  cursor: pointer;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.clear-ul-styles {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subtitle(@width: 50px) {
  position: relative;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 30px 20px;

  &::after {
    content: "";
    position: absolute;
    top: 43px;
    right: 0;
    width: @width;
    height: 3px;
    background: @greenBgColor;
  }
}
