@darkish-pink-color: #d24899;
@grass-color: #5eaa2f;
@green-bg-color: #68b738;

@white-color: #ffffff;

@default-font-color: #444444;

@gray-color: #ececec;
@light-gray-color: #f2f2f2;
@dark-gray-color: #d5d5d5;

@black-color: #111111;
@black-color-60: lighten(@black-color, 40%);
@black-color-30: lighten(@black-color, 70%);
@black-color-10: lighten(@black-color, 90%);

@mobile-content-width: 280px;
